header {
    background-color:lightpink;
    color: black;
    padding: 30px;
    text-align: center;
    margin:0 1.5cm;
}
section{
    margin:0 1.5cm;
    font-size: 20px;
    color: black;
    background-color:bisque;
    text-align: justify;
    }

footer{
    background-color:lightpink;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 1.5cm;
    font-size: 14px;
}
